<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
--><!-- The contents of this file will be loaded for each web application --><Context>

    <!-- Default set of monitored resources. If one of these changes, the    -->
    <!-- web application will be reloaded.                                   -->
    <WatchedResource>WEB-INF/web.xml</WatchedResource>
    <WatchedResource>WEB-INF/tomcat-web.xml</WatchedResource>
    <WatchedResource>${catalina.base}/conf/web.xml</WatchedResource>

    <!-- Uncomment this to disable session persistence across Tomcat restarts -->
    <!--
    <Manager pathname="" />
    -->
    
    <!-- Secret Key -->
    <!-- 當 override 屬性設為 false 表示不會被 web.xml 的 <env-entry> 所取代 -->
  	<Environment name="secretKey" 
  				value="XHKdflPzCnn1ejCnCWKBxo77fqmk4pW9il6Z+c/6o80=" 
  				type="java.lang.String" 
  				override="false" />
  	<!-- 
    	SameSite  
    	SameSite 是一個相對較新的 cookie 屬性，旨在增強對 cookie 的防護，特別是用於防止 CSRF 攻擊。
		SameSite 可以設定為以下三個值之一：
		Strict: Cookie 只有在從相同站點的請求中才會被發送。這意味著只有從相同的站點域名發起的請求才能夠接收到 cookie。
		Lax: Cookie 會在從相同站點的請求以及跨站點的 GET 請求中被發送。但是，在跨站點的 POST 請求中，cookie 不會被發送。
		None: 無論是哪種請求，cookie 都將被發送。如果選擇此選項，則必須將 cookie 設置為 Secure（只在 HTTPS 上傳送）。	
    -->
    <CookieProcessor className="org.apache.tomcat.util.http.Rfc6265CookieProcessor"
                     sameSiteCookies="strict" />
                     			
</Context>
